
{% extends 'veiculos/listar.html'%}
{% load static %}
{% block titulo%}Cadastrar Veiculo{%endblock%}
{% block header%}Cadastrar Veiculo{%endblock%}

{% block container%}
	<form method="post">
		{% csrf_token %}
		{% for field in form.visible_fields %}
			<div class="form-group">
			{{ field.label_tag }}
			{{field}}
			{% if field.help_text %}
				<small id="{{field.id_for_label}}Help" class="form-text text-muted">{{field.help_text}}</small>
			{% endif %}
			</div>
		{% endfor %}
		<a class="btn btn-danger" href="{% url 'veiculos:listar-veiculos'%}"><i class="ti-close"></i> Cancelar</a>
		<button class="btn btn-success" type="submit"><i class="ti-save"></i> Salvar</button>
	</form>
{%endblock%}
