{% extends 'veiculos/listar.html'%}
{% load static %}
{% block titulo%}Visualizar Veiculo{%endblock%}
{% block header%}Visualizar Veiculo{%endblock%}

{% block container%}
<form method="post">
	{% csrf_token %}
	<div class="form-group">
		<span>Tem certeza que você quer deletar o veiculo "{{ object }}"?</span>
	</div>
	<button class="btn btn-success" type="submit"><i class="ti-check"></i> Sim</button>
	<a class="btn btn-danger" href="{% url 'veiculos:listar-veiculos'%}"><i class="ti-close"></i> Não</a>

</form>
{%endblock%}