{% extends 'veiculos/listar.html'%}
{% load static %}
{% block titulo%}Visualizar Veiculo{%endblock%}
{% block header%}Visualizar Veiculo{%endblock%}

{% block container%}
<h1 class="card-title pricing-card-title">{{veiculo.modelo}}<small class="text-muted">{{veiculo.marca}}</small></h1>
<ul class="list-unstyled mt-3 mb-4">
	<li>Valor:{{veiculo.valor}}</li>
	<li>Ano:{{veiculo.ano_fabricacao}}/{{veiculo.modelo_fabricacao}}</li>
	<li>Combustivel: {{veiculo.get_combustivel_display}}</li>
</ul>
<a class="btn btn-info" href="{% url 'veiculos:listar-veiculos'%}" role="button"><i class="ti-arrow-circle-left"></i> Voltar</a>
<a class="btn btn-warning" href="{% url 'veiculos:editar-veiculo' pk=veiculo.pk%}" role="button"><i class="ti-pencil"></i> Editar</a>
{%endblock%}